$color_fuente_oscuro: rgb(54, 54, 54);
$color_fuente: rgb(54, 54, 54) !default;
$color_fuente_claro:rgb(200, 200, 200);
$color_fuente_blanco:rgb(255, 255, 255);
$color_celeste: rgb(37, 156, 190);
$color_background_footer: rgb(25, 25, 25);
$color_background_botones: rgb(85, 85, 85);
$color_background_gris: rgb(85, 85, 85);
