@import "colores";
@import "estructura";
@import "tipografia";

/*Header*/

.header__btn--logoW{
    width: 30px;
    height: 30px;
    background-image: url(../imagenes/icon-whatsapp.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;  
}

.header__iconos{
    width: 20px;
    height: 20px;
    margin-left: 10px;  
}


.header__logoIndex{
    height: 110px;
    animation-name: aparecer;
    animation-duration: 3s;
    animation-delay: 0s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.header__btn--crearCuenta{
    height: 20px;
    color: $color_fuente_blanco;
    line-height: 1.1;
    font-family: $tipografia;
    font-weight: bold;
    font-size: $tipografia_h8;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;  
    margin-top: 5px;
}

.header__btn--iniciarSesion{
    margin-left: 20px;
    height: 20px;
    color: $color_fuente_blanco;
    line-height: 1.1;
    font-family: $tipografia;
    font-weight: bold;
    font-size: $tipografia_h8;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 4px;
}

.modal-backdrop {
    position:relative;
    z-index: -1;
}

.modal{
    background-color: rgba($color: #000000, $alpha: 0.7);
}


.header__logoFlecha{
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 15px;
    margin-top: 5px;
}

.header__logoIndex2{
    height: 90px;
}


.formularioInput{
    width: 95%;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin-top: 25px;
}




/* Productos_Main*/

hr{
    background-color: black;
    color: black;
    height: 12px;
    width: 90%;
    align-self: center;
}

.hr2{
    background-color: black;
    color: black;
    height: 12px;
    width: 100%;
    align-self: center;
}

.mainProductos__div--carrito{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}


.mainProductos__btn--carrito{
    width: 50px;
    height: 50px;
    background-image: url(/imagenes/carrito.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mainProductos__btn--eliminar{
    width: 30px;
    height: 30px;
    background-image: url(/imagenes/btnEliminar.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}



$ancho:200px;

.mainProductos__div_categoria{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($ancho,1fr));
    grid-column-gap: 10px;
    grid-template-rows: repeat(auto-fit, minmax($ancho,1fr));
    grid-row-gap: 10px;
    margin: auto;
    padding: 40px 0;
    overflow: hidden;
    justify-items: center;
}

.mainProductos__div_detalle1{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
} 

.mainProductos__div_detalle{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "foto detalle";
    grid-template-columns: 60% 40%;
    grid-column-gap: 10px;
}

.mainProductos__div_div-detalle{
    grid-area: detalle;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content:flex-start;

}

.mainProductos__div_div-img{
    width: 90%;
    grid-area: foto;
    display: flex;
    flex-direction: column;
    align-content: center;
} 

.mainProductos__div_input{
    width: 100%;
    margin-bottom: 15px;
}

.carritoVacio{
    border: 2px solid;
    border-color: $color_celeste;
    padding: 5px; 
}

.mainProductos__div_carrito{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "nombre unidades precio eliminar";
    grid-template-columns: 50% 16% 16% 16%;
    grid-column-gap: 10px;
    margin-bottom: 20px;
}

.mainProductos__div_carritoTotal{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainProductos__div_carrito-formulario-div{
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin-top: 35px;
}

.mainProductos__div_carrito-formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
}


$i2:1;
@for $i2 from 1 through 35{
    .mainProductos__div_categoria-#{$i2}{
        width: $ancho;
        height: $ancho;
        background-image: url(/imagenes/productos-#{$i2}.png);
        background-size: cover;
    }
}




.mainProductos__div_categoria--desaparecer{
    width: $ancho;
    height: $ancho;
    display: inline-block;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.75);
}

.mainProductos__div_categoria--desaparecer:hover{
    display: none;
}


/*Footer*/

.footer__iconos{
    width: 20px;
    height: 20px; 
}


.footer__logoWhatsapp{
    width: 50px;
    height: 50px;
    background-image: url(../imagenes/icon-whatsapp.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;  
}


